# ===============================
# App module build output
# ===============================
/build/

# ===============================
# Generated sources
# ===============================
/release/
/debug/

# ===============================
# Mapping files
# ===============================
mapping.txt

# ===============================
# Lint / reports
# ===============================
lint-results*.xml
lint-results*.html
